图片
下载
公共
文档
桌面
模板
视频
音乐

project
anaconda3
st
dwm
Github
scripts
book

.bash_*
.oh-my-zsh
.zsh_history
.zcompdump*
.config
.cache
.pki
.pulse-cookie
.purple
.pylint.d
.python_history
.ssh
.steam*
.d*
.f*
.l*
.i*
.n*
.m*
.vscode-oss
.thunderbird
.w*
.gitconfig
.gtk*
.shell*
.ICE*
.xsession*
.Xauthority
.Xclients
.conda*


